<%= javascript_include_tag "cashier_home", "data-turbolinks-track" => true %>
<!--SIDEBAR-->
<% content_for :sidebar do %>
    <%= render :template => 'layouts/table_list' %>
<% end %>

<div class="content_area">

  <div class="row">
    <div class="span9">
      <div id="table_info" class="well">

      </div>
    </div>
  </div>
</div>

</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Payment Receipt</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="receipt_table">

      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Print Receipt</button>
  </div>
</div>