<%= javascript_include_tag "cashier_home", "data-turbolinks-track" => true %>
<!--SIDEBAR-->
<% content_for :sidebar do %>
    <%= render :template => 'layouts/table_list' %>
<% end %>

<div class="content_area">

  <div class="row">
    <div class="span9">
      <div id="table_info" class="well">

      </div>
    </div>
  </div>
</div>

</div>
