/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require journal
 *= require sidebar
 *= require jquery.ui.all
 */

.nav-offset{
      margin-top: 60px;
  	}
.alert{
	color: black;
	text-align: center;
	position: absolute;
	top: 60px;
}

.navbar.navbar-fixed-top .navbar-inner{
    background: rgba(0, 0, 0, 0.85);
}
