<div id="sb">
  <div class="well">
    <h3 style="text-align: center;">Tables</h3>
    <% Table.all.each do |table| %>
        <div id="<%= table.id %>" class="table_button btn btn-primary btn-block"><%= table.table_name %></div>
    <% end %>
  </div>
</div>